<ul>
    {% for project in projects %}
        <li>{{ project.name }}</li>
        <li>{{ project.description }}</li>
        <li>{{ project.createdAt|date('d.m.Y') }}</li>
        <li><a href="{{ path('project_details', {id: project.id}) }}">details</a></li>
    {% endfor %}
</ul>

