{% extends 'base.html.twig' %}

{% block title %}Manage Projects{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1>Manage Projects</h1>
        <p>Here you can manage the content of the projects.</p>
    </div>
{% endblock %}
