{% extends 'base.html.twig' %}

{% block title %}Manage Homepage{% endblock %}

{% block body %}
<div class="container mt-4">
    <h1>Manage Homepage</h1>
    <p>Here you can manage the content of the homepage.</p>
</div>
{% endblock %}
