# This file is the entry point to configure your own services.
# Files in the packages/ subdirectory configure your dependencies.

# Put parameters here that don't need to change on each machine where the app is deployed
# https://symfony.com/doc/current/best_practices.html#use-parameters-for-application-configuration
parameters:
    image_directory: '%kernel.project_dir%/public/images'
services:
    # default configuration for services in *this* file
    # Default configuration for services
    _defaults:
        autowire: true      # Automatically injects dependencies into services
        autoconfigure: true # Automatically registers services as commands, event subscribers, etc.
#        bind:
#            $ftpServer: '%env(FTP_SERVER)%'       # Bind the FTP server environment variable
#            $ftpUsername: '%env(FTP_USERNAME)%'  # Bind the FTP username environment variable
#            $ftpPassword: '%env(FTP_PASSWORD)%'  # Bind the FTP password environment variable
#            $ftpPort: '%env(int:FTP_PORT)%'      # Bind the FTP port as an integer
#            $csvDir: '%kernel.project_dir%/public/csv' # Bind the CSV directory for CsvService
#            $awsKey: '%env(AWS_ACCESS_KEY_ID)%'
#            $awsSecret: '%env(AWS_SECRET_ACCESS_KEY)%'
#            $region: '%env(AWS_REGION)%'
#            $bucket: '%env(AWS_BUCKET)%'
#            $profile: '%env(AWS_PROFILE)%'
    # Makes classes in src/ available to be used as services
    App\:
        resource: '../src/'
        exclude:
            - '../src/DependencyInjection/'
            - '../src/Entity/'
            - '../src/Kernel.php'

    # add more service definitions when explicit configuration is needed
    # please note that last definitions always *replace* previous ones
