<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>{% block title %}Welcome!{% endblock %}</title>

        {% block stylesheets %}
            <style>
                .dropdown-submenu {
                    position: relative;
                }
                .dropdown-submenu > .dropdown-menu {
                    top: 0;
                    left: 100%;
                    margin-top: -1px;
                }
                .dropdown-submenu:hover > .dropdown-menu {
                    display: block;
                }
            </style>
        {% endblock %}

        {% block head_javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>
        {% block header %}
            <header>
                {{ include('_navbar.html.twig') }}
            </header>
        {% endblock %}
        {% block body %}{% endblock %}
        {% block footer %}
            <footer class="text-center mt-4">
                <p>&copy; {{ "now"|date("Y") }} Snejyx. All rights reserved.</p>
            </footer>
        {% endblock %}
        {% block javascripts %}
        {% endblock %}
    </body>
</html>
